In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import PIL
from PIL import Image
from numpy import asarray
import glob
import cv2
import tensorflow as tf
from tensorflow import keras

Import Model

In [2]:
UnWeighted_Model=keras.models.load_model('drive/MyDrive/CNN_91.57Acc_87.22')

Import Data

In [3]:
X_train=np.load('drive/MyDrive/X_train_strat.npy')

In [4]:
y_train=np.load('drive/MyDrive/y_train_strat.npy')

In [5]:
X_val=np.load('drive/MyDrive/X_val_strat.npy')

In [6]:
y_val=np.load('drive/MyDrive/y_val_strat.npy')

Get val data probabilities

In [7]:
y_proba=UnWeighted_Model.predict(X_val)

In [8]:
y_proba[1]

array([1.8700127e-01, 2.0648569e-03, 6.5014623e-02, 5.6939271e-06,
       2.4076574e-09, 3.1269633e-03, 8.9075873e-03, 5.9864538e-05,
       9.2869840e-04, 3.2675439e-03, 1.4010909e-21, 2.3089875e-03,
       5.6240433e-01, 1.2087727e-01, 2.8029918e-03, 1.9908721e-04,
       5.3067452e-05, 1.5319049e-02, 8.9288881e-07, 2.1978799e-04,
       1.3941696e-11, 1.0983007e-07, 3.4774159e-10, 9.2288531e-07,
       2.2313192e-02, 1.0492831e-03, 3.0943474e-06, 2.0708006e-03],
      dtype=float32)

In [9]:
# Turn one hot array into integers
y_val_1d=np.argmax(y_val, axis=1)
y_predictions=np.argmax(y_proba, axis=1)

In [10]:
y_dataframe=pd.DataFrame({'y_predictions': y_predictions,
                          'y_actual': y_val_1d
                          })

In [11]:
y_dataframe

      y_predictions  y_actual
0                25        25
1                12        12
2                 8         2
3                23        23
4                13        14
...             ...       ...
8268              1         1
8269             13        13
8270              1         1
8271              1         1
8272             13        13

[8273 rows x 2 columns]

In [12]:
y_proba_list=[]

for each in y_proba:
  y_proba_list.append(each)

In [13]:
#y_dataframe['y_proba']=y_proba_list

In [14]:
#round to 5 decimals

rounded_proba_list=[]
for each_array in y_proba_list:
  new_array=[]
  for each_number in each_array:
    rounded_number=round(each_number, ndigits=5)
    new_array.append('{0:6f}'.format(rounded_number))
  rounded_proba_list.append(new_array)

In [15]:
y_dataframe['y_rounded_proba']=rounded_proba_list

In [16]:
y_dataframe.head(5)

   y_predictions  y_actual                                    y_rounded_proba
0             25        25  [0.000290, 0.000050, 0.444450, 0.000000, 0.000...
1             12        12  [0.187000, 0.002060, 0.065010, 0.000010, 0.000...
2              8         2  [0.000000, 0.000050, 0.368020, 0.000210, 0.000...
3             23        23  [0.000000, 0.000000, 0.000000, 0.000000, 0.000...
4             13        14  [0.001320, 0.002030, 0.005430, 0.000550, 0.000...

In [17]:
## locate incorrectly classified animals
incorrect_df=y_dataframe.loc[(y_dataframe['y_predictions'])!=(y_dataframe['y_actual'])]

In [18]:
incorrect_df

,y_predictions,y_actual,y_rounded_proba
2,8,2,"[0.000000, 0.000050, 0.368020, 0.000210, 0.000..."
4,13,14,"[0.001320, 0.002030, 0.005430, 0.000550, 0.000..."
6,12,13,"[0.089220, 0.001030, 0.009610, 0.000010, 0.000..."
8,13,12,"[0.195130, 0.004920, 0.005880, 0.000130, 0.000..."
15,2,16,"[0.000010, 0.000000, 0.990060, 0.000000, 0.000..."
...,...,...,...
8210,2,8,"[0.000000, 0.000010, 0.678840, 0.000000, 0.000..."
8227,8,2,"[0.000010, 0.003020, 0.128240, 0.004250, 0.000..."
8233,2,26,"[0.000000, 0.000010, 0.464560, 0.000600, 0.000..."
8234,8,16,"[0.000000, 0.000000, 0.018780, 0.000000, 0.000..."
8265,23,15,"[0.000000, 0.000000, 0.000000, 0.000000, 0.000..."

In [19]:
## add columns for predicted probability and predicted probability of actual class
predicted_class_probability=[]
actual_class_probability=[]
for index, row in incorrect_df.iterrows():
  p=row['y_predictions']
  a=row['y_actual']
  pred_proba=row['y_rounded_proba'][p]
  act_proba=row['y_rounded_proba'][a]
  predicted_class_probability.append(pred_proba)
  actual_class_probability.append(act_proba)

In [20]:
incorrect_df['predicted_class_probability']=predicted_class_probability
incorrect_df['actual_class_probability']=actual_class_probability
incorrect_df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,y_predictions,y_actual,y_rounded_proba,predicted_class_probability,actual_class_probability
2,8,2,"[0.000000, 0.000050, 0.368020, 0.000210, 0.000...",0.595070,0.368020
4,13,14,"[0.001320, 0.002030, 0.005430, 0.000550, 0.000...",0.456610,0.191300
6,12,13,"[0.089220, 0.001030, 0.009610, 0.000010, 0.000...",0.582400,0.215040
8,13,12,"[0.195130, 0.004920, 0.005880, 0.000130, 0.000...",0.394860,0.042490
15,2,16,"[0.000010, 0.000000, 0.990060, 0.000000, 0.000...",0.990060,0.004100
...,...,...,...,...,...
8210,2,8,"[0.000000, 0.000010, 0.678840, 0.000000, 0.000...",0.678840,0.008080
8227,8,2,"[0.000010, 0.003020, 0.128240, 0.004250, 0.000...",0.412930,0.128240
8233,2,26,"[0.000000, 0.000010, 0.464560, 0.000600, 0.000...",0.464560,0.347810
8234,8,16,"[0.000000, 0.000000, 0.018780, 0.000000, 0.000...",0.580400,0.376710
8265,23,15,"[0.000000, 0.000000, 0.000000, 0.000000, 0.000...",0.917220,0.079920

In [21]:
#find differences in predicted vs actual probability
incorrect_df['difference']=(incorrect_df['predicted_class_probability'].astype(float))-(incorrect_df['actual_class_probability'].astype(float))
incorrect_df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,y_predictions,y_actual,y_rounded_proba,predicted_class_probability,actual_class_probability,difference
2,8,2,"[0.000000, 0.000050, 0.368020, 0.000210, 0.000...",0.595070,0.368020,0.22705
4,13,14,"[0.001320, 0.002030, 0.005430, 0.000550, 0.000...",0.456610,0.191300,0.26531
6,12,13,"[0.089220, 0.001030, 0.009610, 0.000010, 0.000...",0.582400,0.215040,0.36736
8,13,12,"[0.195130, 0.004920, 0.005880, 0.000130, 0.000...",0.394860,0.042490,0.35237
15,2,16,"[0.000010, 0.000000, 0.990060, 0.000000, 0.000...",0.990060,0.004100,0.98596
...,...,...,...,...,...,...
8210,2,8,"[0.000000, 0.000010, 0.678840, 0.000000, 0.000...",0.678840,0.008080,0.67076
8227,8,2,"[0.000010, 0.003020, 0.128240, 0.004250, 0.000...",0.412930,0.128240,0.28469
8233,2,26,"[0.000000, 0.000010, 0.464560, 0.000600, 0.000...",0.464560,0.347810,0.11675
8234,8,16,"[0.000000, 0.000000, 0.018780, 0.000000, 0.000...",0.580400,0.376710,0.20369
8265,23,15,"[0.000000, 0.000000, 0.000000, 0.000000, 0.000...",0.917220,0.079920,0.83730

In [22]:
# ## get counts for each misclassified class
missed_counts=pd.DataFrame(incorrect_df['y_actual'].value_counts())
missed_counts.reset_index(inplace=True)

In [23]:
y_train_counts=pd.DataFrame(y_dataframe['y_actual'].value_counts())
y_train_counts.reset_index(inplace=True)

In [24]:
y_reference=pd.merge(y_train_counts,missed_counts, on='index')
y_reference.set_index('index', inplace=True)
y_reference.rename(columns={'y_actual_x':'y_in_training', 'y_actual_y':'missed_ys'})

       y_in_training  missed_ys
index
2               1740        131
0               1207         29
13              1199        133
1                783         40
8                547        146
7                512         10
14               392         43
16               276         62
25               274         58
17               262         46
9                213         65
12               184         50
24               141         13
26                80         34
22                68         14
23                59          7
5                 57         42
6                 53         28
19                42         21
15                40         15
27                37         13
3                 25          2
18                24         18
11                19         10
4                 15          4
20                12         12
21                10         10
10                 2          1

In [25]:
table25=incorrect_df.loc[incorrect_df['y_actual']==25]

In [26]:
table25

,y_predictions,y_actual,y_rounded_proba,predicted_class_probability,actual_class_probability,difference
69,2,25,"[0.000580, 0.002000, 0.868230, 0.000500, 0.000...",0.868230,0.016290,0.85194
246,8,25,"[0.000090, 0.000030, 0.002220, 0.000000, 0.049...",0.839110,0.006830,0.83228
393,0,25,"[0.999990, 0.000000, 0.000000, 0.000000, 0.000...",0.999990,0.000000,0.99999
442,2,25,"[0.000050, 0.001920, 0.268810, 0.000880, 0.000...",0.268810,0.221820,0.04699
566,16,25,"[0.000000, 0.000320, 0.105850, 0.000370, 0.000...",0.407540,0.214060,0.19348
852,8,25,"[0.000000, 0.000000, 0.015780, 0.000000, 0.002...",0.853130,0.008750,0.84438
934,2,25,"[0.000000, 0.000000, 0.709270, 0.000000, 0.000...",0.709270,0.257410,0.45186
1045,8,25,"[0.000000, 0.000250, 0.407970, 0.000190, 0.000...",0.451580,0.004480,0.44710
1143,7,25,"[0.000000, 0.000000, 0.001530, 0.000000, 0.000...",0.988140,0.006510,0.98163
1207,2,25,"[0.000010, 0.000000, 0.603700, 0.000000, 0.000...",0.603700,0.370210,0.23349
1567,2,25,"[0.000050, 0.000190, 0.674120, 0.000020, 0.000...",0.674120,0.262420,0.41170
1681,2,25,"[0.000100, 0.001360, 0.480700, 0.002870, 0.000...",0.480700,0.065330,0.41537
1797,26,25,"[0.000000, 0.000010, 0.156310, 0.000120, 0.000...",0.398540,0.345840,0.05270
1893,2,25,"[0.000270, 0.000330, 0.893790, 0.000200, 0.000...",0.893790,0.014260,0.87953
1972,26,25,"[0.000000, 0.000070, 0.152880, 0.000340, 0.000...",0.403340,0.365470,0.03787
2190,2,25,"[0.003610, 0.042740, 0.507240, 0.000070, 0.000...",0.507240,0.150500,0.35674
2213,2,25,"[0.000520, 0.000770, 0.451180, 0.000410, 0.000...",0.451180,0.296680,0.15450
2574,2,25,"[0.000060, 0.000460, 0.507310, 0.003340, 0.000...",0.507310,0.104520,0.40279
2723,8,25,"[0.000000, 0.000310, 0.013500, 0.000180, 0.001...",0.944360,0.011010,0.93335
2859,2,25,"[0.000110, 0.000130, 0.446040, 0.000310, 0.000...",0.446040,0.168130,0.27791
2968,2,25,"[0.001660, 0.000390, 0.790550, 0.000220, 0.000...",0.790550,0.021970,0.76858
3016,2,25,"[0.002190, 0.004790, 0.360160, 0.010090, 0.001...",0.360160,0.121800,0.23836
3298,2,25,"[0.000060, 0.002420, 0.350330, 0.000280, 0.000...",0.350330,0.112760,0.23757
3538,2,25,"[0.000190, 0.000900, 0.263050, 0.000000, 0.001...",0.263050,0.064490,0.19856
3557,2,25,"[0.076780, 0.014030, 0.609210, 0.006120, 0.000...",0.609210,0.061900,0.54731
3692,0,25,"[0.975960, 0.002800, 0.001150, 0.000010, 0.000...",0.975960,0.000010,0.97595
3698,2,25,"[0.000100, 0.001270, 0.502100, 0.002100, 0.000...",0.502100,0.076650,0.42545
3809,14,25,"[0.000230, 0.001550, 0.235720, 0.000370, 0.000...",0.507550,0.162640,0.34491
4130,2,25,"[0.000040, 0.000070, 0.859050, 0.000000, 0.000...",0.859050,0.019650,0.83940
4281,2,25,"[0.017270, 0.013870, 0.268610, 0.003380, 0.007...",0.268610,0.174050,0.09456
4362,2,25,"[0.000020, 0.000030, 0.633320, 0.000030, 0.000...",0.633320,0.289700,0.34362
4462,8,25,"[0.003260, 0.006140, 0.039890, 0.000640, 0.001...",0.431680,0.101950,0.32973
4561,19,25,"[0.003550, 0.011710, 0.155340, 0.000250, 0.000...",0.285270,0.079290,0.20598
4777,8,25,"[0.000010, 0.002370, 0.083020, 0.000700, 0.000...",0.639490,0.024540,0.61495
4908,8,25,"[0.000040, 0.000210, 0.017430, 0.000000, 0.000...",0.907330,0.034980,0.87235
4919,26,25,"[0.000040, 0.000310, 0.117670, 0.000010, 0.000...",0.486370,0.345800,0.14057
4980,2,25,"[0.000860, 0.000450, 0.449580, 0.000010, 0.000...",0.449580,0.444290,0.00529
5327,2,25,"[0.171680, 0.221830, 0.315240, 0.000000, 0.001...",0.315240,0.037630,0.27761
5588,5,25,"[0.000310, 0.000680, 0.128820, 0.001330, 0.000...",0.275030,0.212490,0.06254
5596,2,25,"[0.000020, 0.000310, 0.543810, 0.002060, 0.000...",0.543810,0.047190,0.49662
5677,2,25,"[0.000060, 0.003010, 0.402450, 0.000040, 0.000...",0.402450,0.374420,0.02803
5761,2,25,"[0.000000, 0.000000, 0.628250, 0.000000, 0.000...",0.628250,0.009870,0.61838
5769,9,25,"[0.000230, 0.066110, 0.149480, 0.000650, 0.000...",0.388560,0.191450,0.19711
6122,2,25,"[0.000500, 0.004410, 0.800950, 0.001320, 0.000...",0.800950,0.033240,0.76771
6309,2,25,"[0.000300, 0.002100, 0.895140, 0.002140, 0.000...",0.895140,0.053380,0.84176
6341,2,25,"[0.000230, 0.000850, 0.576070, 0.001200, 0.000...",0.576070,0.077730,0.49834
6473,2,25,"[0.001400, 0.006180, 0.330070, 0.030170, 0.000...",0.330070,0.051110,0.27896
6502,2,25,"[0.000060, 0.000540, 0.336180, 0.000520, 0.000...",0.336180,0.010440,0.32574
6507,18,25,"[0.003270, 0.008470, 0.058220, 0.000000, 0.000...",0.680460,0.022060,0.65840
6564,2,25,"[0.000850, 0.000420, 0.494480, 0.000040, 0.000...",0.494480,0.100330,0.39415
6708,26,25,"[0.000000, 0.000200, 0.039660, 0.000040, 0.000...",0.466630,0.252020,0.21461
7138,8,25,"[0.001270, 0.006680, 0.213040, 0.005110, 0.005...",0.220990,0.055900,0.16509
7258,2,25,"[0.222910, 0.025060, 0.299280, 0.000470, 0.000...",0.299280,0.013560,0.28572
7432,2,25,"[0.000050, 0.000030, 0.772540, 0.000000, 0.000...",0.772540,0.195460,0.57708
7562,2,25,"[0.000010, 0.000510, 0.901330, 0.000050, 0.000...",0.901330,0.019250,0.88208
7943,2,25,"[0.000030, 0.000200, 0.385360, 0.000000, 0.000...",0.385360,0.297730,0.08763
8055,2,25,"[0.000000, 0.000000, 0.646070, 0.000000, 0.000...",0.646070,0.331620,0.31445
8120,13,25,"[0.021250, 0.087510, 0.123500, 0.004290, 0.000...",0.183210,0.027040,0.15617

In [27]:
## find average difference
avg=(table25['difference'].sum())/len(table25['difference'])
avg

##  8: 0.42
## 16: 0.49
## 25: 0.43

0.43305034482758625

In [28]:
## find median difference
import statistics
med=statistics.median(table25['difference'])
med

##  8: 0.40
## 16: 0.47
## 25: 0.35

0.350825

Create Weights for underepresented classes

In [29]:
## lots of classes get incorrectly predicted as 2's

#Manually adjusting weights for only the poorly classified classes
adjusted_class_weights={
    0: 1.,
    1: 1.,
    2: 1.,
    3: 1.,
    4: 1.,
    5: 1.1,
    6: 1.,
    7: 1.,
    8: 1.15,
    9: 1.,
    10: 1.,
    11: 1.,
    12: 1.,
    13: 1.,
    14: 1.,
    15: 1.,
    16: 1.15,
    17: 1.,
    18: 1.,
    19: 1.,
    20: 1.,
    21: 1.,
    22: 1.,
    23: 1.,
    24: 1.,
    25: 1.3,
    26: 1.,
    27: 1.}

Add weights to training

In [30]:
from tensorflow.keras import layers
from keras.models import Sequential,Input,Model
from keras.layers import Dense, Dropout, Flatten
from keras.layers import Conv2D, MaxPooling2D

model4 = keras.models.Sequential()
model4.add(Conv2D(32, kernel_size=(3, 3),activation='relu',input_shape=(150,200,1),padding='same'))
model4.add(MaxPooling2D((2, 2),padding='same'))
model4.add(Conv2D(64, (3, 3), activation='relu',padding='same'))
model4.add(MaxPooling2D(pool_size=(2, 2),padding='same'))
model4.add(Dropout(0.28))
model4.add(Conv2D(128, (3, 3), activation='relu',padding='same'))                 
model4.add(MaxPooling2D(pool_size=(2, 2),padding='same'))
model4.add(Dropout(0.35))
model4.add(Conv2D(256, (3, 3), activation='relu',padding='same'))                 
model4.add(MaxPooling2D(pool_size=(3, 3),padding='same'))
model4.add(Dropout(0.40))
model4.add(Conv2D(512, (3, 3), activation='relu',padding='same'))          
model4.add(MaxPooling2D(pool_size=(5, 5),padding='same'))               ## changed from 4,4 to 5,5
model4.add(Dropout(0.40))
model4.add(Conv2D(512, (3, 3), activation='relu',padding='same'))        ## 256 to 512 and dropout to .50       
model4.add(MaxPooling2D(pool_size=(8,8),padding='same'))                 ##changed from 6,6 to 8,8
model4.add(Dropout(0.50))
model4.add(Conv2D(512, (3, 3), activation='relu',padding='same'))        ##       
model4.add(MaxPooling2D(pool_size=(6,6),padding='same'))                 ##  new layer
model4.add(Dropout(0.50))                                                ##
model4.add(Conv2D(256, (3, 3), activation='relu',padding='same'))      ## added conv, pooling layer           
model4.add(MaxPooling2D(pool_size=(3, 3),padding='same'))
model4.add(Dropout(0.35))
model4.add(Flatten())
model4.add(Dense(300, activation='relu'))               
model4.add(Dense(28, activation='softmax'))

In [31]:

model4.compile(optimizer='adam', loss='categorical_crossentropy', metrics=['accuracy'])

In [32]:
# callback to save best parameters
checkpoint=tf.keras.callbacks.ModelCheckpoint(
    filepath='drive/MyDrive/CNN4_2',
    monitor='val_accuracy',
    save_best_only=True,
    mode='max'
)

In [33]:
model4.fit(X_train, y_train, batch_size=110, epochs=100, validation_data=(X_val, y_val), callbacks=[checkpoint])

Epoch 1/100
301/301 [==============================] - ETA: 0s - loss: 2.4127 - accuracy: 0.2589INFO:tensorflow:Assets written to: drive/MyDrive/CNN4_2/assets
301/301 [==============================] - 58s 171ms/step - loss: 2.4127 - accuracy: 0.2589 - val_loss: 1.8351 - val_accuracy: 0.4352
Epoch 2/100
301/301 [==============================] - ETA: 0s - loss: 1.6485 - accuracy: 0.5064INFO:tensorflow:Assets written to: drive/MyDrive/CNN4_2/assets
301/301 [==============================] - 46s 153ms/step - loss: 1.6485 - accuracy: 0.5064 - val_loss: 1.3832 - val_accuracy: 0.5850
Epoch 3/100
301/301 [==============================] - ETA: 0s - loss: 1.3843 - accuracy: 0.5892INFO:tensorflow:Assets written to: drive/MyDrive/CNN4_2/assets
301/301 [==============================] - 47s 155ms/step - loss: 1.3843 - accuracy: 0.5892 - val_loss: 1.2811 - val_accuracy: 0.6055
Epoch 4/100
301/301 [==============================] - ETA: 0s - loss: 1.2740 - accuracy: 0.6199INFO:tensorflow:Assets written to: drive/MyDrive/CNN4_2/assets
301/301 [==============================] - 47s 155ms/step - loss: 1.2740 - accuracy: 0.6199 - val_loss: 1.1135 - val_accuracy: 0.6608
Epoch 5/100
301/301 [==============================] - ETA: 0s - loss: 1.1887 - accuracy: 0.6400INFO:tensorflow:Assets written to: drive/MyDrive/CNN4_2/assets
301/301 [==============================] - 47s 156ms/step - loss: 1.1887 - accuracy: 0.6400 - val_loss: 1.0583 - val_accuracy: 0.6719
Epoch 6/100
301/301 [==============================] - ETA: 0s - loss: 1.1134 - accuracy: 0.6633INFO:tensorflow:Assets written to: drive/MyDrive/CNN4_2/assets
301/301 [==============================] - 47s 156ms/step - loss: 1.1134 - accuracy: 0.6633 - val_loss: 1.0017 - val_accuracy: 0.7019
Epoch 7/100
301/301 [==============================] - ETA: 0s - loss: 1.0475 - accuracy: 0.6838INFO:tensorflow:Assets written to: drive/MyDrive/CNN4_2/assets
301/301 [==============================] - 47s 156ms/step - loss: 1.0475 - accuracy: 0.6838 - val_loss: 0.8832 - val_accuracy: 0.7329
Epoch 8/100
301/301 [==============================] - ETA: 0s - loss: 1.0021 - accuracy: 0.6988INFO:tensorflow:Assets written to: drive/MyDrive/CNN4_2/assets
301/301 [==============================] - 47s 157ms/step - loss: 1.0021 - accuracy: 0.6988 - val_loss: 0.8656 - val_accuracy: 0.7404
Epoch 9/100
301/301 [==============================] - ETA: 0s - loss: 0.9537 - accuracy: 0.7147INFO:tensorflow:Assets written to: drive/MyDrive/CNN4_2/assets
301/301 [==============================] - 47s 157ms/step - loss: 0.9537 - accuracy: 0.7147 - val_loss: 0.8560 - val_accuracy: 0.7441
Epoch 10/100
301/301 [==============================] - ETA: 0s - loss: 0.9171 - accuracy: 0.7253INFO:tensorflow:Assets written to: drive/MyDrive/CNN4_2/assets
301/301 [==============================] - 47s 156ms/step - loss: 0.9171 - accuracy: 0.7253 - val_loss: 0.8279 - val_accuracy: 0.7540
Epoch 11/100
301/301 [==============================] - ETA: 0s - loss: 0.8867 - accuracy: 0.7353INFO:tensorflow:Assets written to: drive/MyDrive/CNN4_2/assets
301/301 [==============================] - 47s 157ms/step - loss: 0.8867 - accuracy: 0.7353 - val_loss: 0.7647 - val_accuracy: 0.7705
Epoch 12/100
301/301 [==============================] - 45s 149ms/step - loss: 0.8677 - accuracy: 0.7409 - val_loss: 0.7680 - val_accuracy: 0.7674
Epoch 13/100
301/301 [==============================] - ETA: 0s - loss: 0.8432 - accuracy: 0.7506INFO:tensorflow:Assets written to: drive/MyDrive/CNN4_2/assets
301/301 [==============================] - 47s 157ms/step - loss: 0.8432 - accuracy: 0.7506 - val_loss: 0.7261 - val_accuracy: 0.7839
Epoch 14/100
301/301 [==============================] - ETA: 0s - loss: 0.8150 - accuracy: 0.7574INFO:tensorflow:Assets written to: drive/MyDrive/CNN4_2/assets
301/301 [==============================] - 47s 157ms/step - loss: 0.8150 - accuracy: 0.7574 - val_loss: 0.7082 - val_accuracy: 0.7873
Epoch 15/100
301/301 [==============================] - 45s 149ms/step - loss: 0.8044 - accuracy: 0.7614 - val_loss: 0.7165 - val_accuracy: 0.7834
Epoch 16/100
301/301 [==============================] - ETA: 0s - loss: 0.7828 - accuracy: 0.7677INFO:tensorflow:Assets written to: drive/MyDrive/CNN4_2/assets
301/301 [==============================] - 47s 157ms/step - loss: 0.7828 - accuracy: 0.7677 - val_loss: 0.6825 - val_accuracy: 0.7952
Epoch 17/100
301/301 [==============================] - ETA: 0s - loss: 0.7677 - accuracy: 0.7743INFO:tensorflow:Assets written to: drive/MyDrive/CNN4_2/assets
301/301 [==============================] - 47s 157ms/step - loss: 0.7677 - accuracy: 0.7743 - val_loss: 0.6759 - val_accuracy: 0.7969
Epoch 18/100
301/301 [==============================] - ETA: 0s - loss: 0.7656 - accuracy: 0.7731INFO:tensorflow:Assets written to: drive/MyDrive/CNN4_2/assets
301/301 [==============================] - 47s 156ms/step - loss: 0.7656 - accuracy: 0.7731 - val_loss: 0.6489 - val_accuracy: 0.8054
Epoch 19/100
301/301 [==============================] - 45s 149ms/step - loss: 0.7320 - accuracy: 0.7844 - val_loss: 0.6714 - val_accuracy: 0.8045
Epoch 20/100
301/301 [==============================] - 45s 149ms/step - loss: 0.7251 - accuracy: 0.7884 - val_loss: 0.6641 - val_accuracy: 0.8014
Epoch 21/100
301/301 [==============================] - 45s 149ms/step - loss: 0.7212 - accuracy: 0.7874 - val_loss: 0.6642 - val_accuracy: 0.8015
Epoch 22/100
301/301 [==============================] - ETA: 0s - loss: 0.7043 - accuracy: 0.7940INFO:tensorflow:Assets written to: drive/MyDrive/CNN4_2/assets
301/301 [==============================] - 47s 157ms/step - loss: 0.7043 - accuracy: 0.7940 - val_loss: 0.6522 - val_accuracy: 0.8076
Epoch 23/100
301/301 [==============================] - ETA: 0s - loss: 0.7104 - accuracy: 0.7912INFO:tensorflow:Assets written to: drive/MyDrive/CNN4_2/assets
301/301 [==============================] - 47s 156ms/step - loss: 0.7104 - accuracy: 0.7912 - val_loss: 0.6133 - val_accuracy: 0.8139
Epoch 24/100
301/301 [==============================] - ETA: 0s - loss: 0.6914 - accuracy: 0.7964INFO:tensorflow:Assets written to: drive/MyDrive/CNN4_2/assets
301/301 [==============================] - 47s 157ms/step - loss: 0.6914 - accuracy: 0.7964 - val_loss: 0.6152 - val_accuracy: 0.8174
Epoch 25/100
301/301 [==============================] - 45s 149ms/step - loss: 0.6938 - accuracy: 0.7977 - val_loss: 0.6162 - val_accuracy: 0.8142
Epoch 26/100
301/301 [==============================] - ETA: 0s - loss: 0.6727 - accuracy: 0.8006INFO:tensorflow:Assets written to: drive/MyDrive/CNN4_2/assets
301/301 [==============================] - 47s 157ms/step - loss: 0.6727 - accuracy: 0.8006 - val_loss: 0.6120 - val_accuracy: 0.8183
Epoch 27/100
301/301 [==============================] - 45s 149ms/step - loss: 0.6710 - accuracy: 0.8036 - val_loss: 0.6172 - val_accuracy: 0.8122
Epoch 28/100
301/301 [==============================] - 45s 149ms/step - loss: 0.6605 - accuracy: 0.8053 - val_loss: 0.6108 - val_accuracy: 0.8177
Epoch 29/100
301/301 [==============================] - ETA: 0s - loss: 0.6605 - accuracy: 0.8066INFO:tensorflow:Assets written to: drive/MyDrive/CNN4_2/assets
301/301 [==============================] - 47s 157ms/step - loss: 0.6605 - accuracy: 0.8066 - val_loss: 0.6011 - val_accuracy: 0.8222
Epoch 30/100
301/301 [==============================] - 45s 149ms/step - loss: 0.6452 - accuracy: 0.8106 - val_loss: 0.6155 - val_accuracy: 0.8155
Epoch 31/100
301/301 [==============================] - 45s 149ms/step - loss: 0.6367 - accuracy: 0.8122 - val_loss: 0.6002 - val_accuracy: 0.8200
Epoch 32/100
301/301 [==============================] - ETA: 0s - loss: 0.6352 - accuracy: 0.8130INFO:tensorflow:Assets written to: drive/MyDrive/CNN4_2/assets
301/301 [==============================] - 47s 156ms/step - loss: 0.6352 - accuracy: 0.8130 - val_loss: 0.5818 - val_accuracy: 0.8269
Epoch 33/100
301/301 [==============================] - 45s 149ms/step - loss: 0.6369 - accuracy: 0.8134 - val_loss: 0.6265 - val_accuracy: 0.8152
Epoch 34/100
301/301 [==============================] - 45s 149ms/step - loss: 0.6273 - accuracy: 0.8159 - val_loss: 0.5906 - val_accuracy: 0.8259
Epoch 35/100
301/301 [==============================] - ETA: 0s - loss: 0.6271 - accuracy: 0.8155INFO:tensorflow:Assets written to: drive/MyDrive/CNN4_2/assets
301/301 [==============================] - 47s 157ms/step - loss: 0.6271 - accuracy: 0.8155 - val_loss: 0.5694 - val_accuracy: 0.8293
Epoch 36/100
301/301 [==============================] - 45s 149ms/step - loss: 0.6172 - accuracy: 0.8176 - val_loss: 0.6219 - val_accuracy: 0.8128
Epoch 37/100
301/301 [==============================] - 45s 149ms/step - loss: 0.6056 - accuracy: 0.8207 - val_loss: 0.5834 - val_accuracy: 0.8250
Epoch 38/100
301/301 [==============================] - 45s 149ms/step - loss: 0.6108 - accuracy: 0.8202 - val_loss: 0.5850 - val_accuracy: 0.8247
Epoch 39/100
301/301 [==============================] - ETA: 0s - loss: 0.6104 - accuracy: 0.8204INFO:tensorflow:Assets written to: drive/MyDrive/CNN4_2/assets
301/301 [==============================] - 47s 157ms/step - loss: 0.6104 - accuracy: 0.8204 - val_loss: 0.5671 - val_accuracy: 0.8339
Epoch 40/100
301/301 [==============================] - 45s 149ms/step - loss: 0.6078 - accuracy: 0.8231 - val_loss: 0.5720 - val_accuracy: 0.8332
Epoch 41/100
301/301 [==============================] - ETA: 0s - loss: 0.5895 - accuracy: 0.8291INFO:tensorflow:Assets written to: drive/MyDrive/CNN4_2/assets
301/301 [==============================] - 47s 157ms/step - loss: 0.5895 - accuracy: 0.8291 - val_loss: 0.5464 - val_accuracy: 0.8363
Epoch 42/100
301/301 [==============================] - 45s 149ms/step - loss: 0.5874 - accuracy: 0.8281 - val_loss: 0.5764 - val_accuracy: 0.8303
Epoch 43/100
301/301 [==============================] - 45s 149ms/step - loss: 0.5792 - accuracy: 0.8299 - val_loss: 0.5685 - val_accuracy: 0.8326
Epoch 44/100
301/301 [==============================] - 45s 149ms/step - loss: 0.5812 - accuracy: 0.8311 - val_loss: 0.5646 - val_accuracy: 0.8297
Epoch 45/100
301/301 [==============================] - ETA: 0s - loss: 0.5746 - accuracy: 0.8308INFO:tensorflow:Assets written to: drive/MyDrive/CNN4_2/assets
301/301 [==============================] - 47s 156ms/step - loss: 0.5746 - accuracy: 0.8308 - val_loss: 0.5532 - val_accuracy: 0.8374
Epoch 46/100
301/301 [==============================] - 45s 149ms/step - loss: 0.5744 - accuracy: 0.8319 - val_loss: 0.5689 - val_accuracy: 0.8308
Epoch 47/100
301/301 [==============================] - 45s 149ms/step - loss: 0.5707 - accuracy: 0.8328 - val_loss: 0.5877 - val_accuracy: 0.8265
Epoch 48/100
301/301 [==============================] - 45s 149ms/step - loss: 0.5682 - accuracy: 0.8336 - val_loss: 0.5827 - val_accuracy: 0.8319
Epoch 49/100
301/301 [==============================] - 45s 149ms/step - loss: 0.5632 - accuracy: 0.8371 - val_loss: 0.5481 - val_accuracy: 0.8350
Epoch 50/100
301/301 [==============================] - ETA: 0s - loss: 0.5700 - accuracy: 0.8334INFO:tensorflow:Assets written to: drive/MyDrive/CNN4_2/assets
301/301 [==============================] - 47s 157ms/step - loss: 0.5700 - accuracy: 0.8334 - val_loss: 0.5488 - val_accuracy: 0.8390
Epoch 51/100
301/301 [==============================] - ETA: 0s - loss: 0.5541 - accuracy: 0.8377INFO:tensorflow:Assets written to: drive/MyDrive/CNN4_2/assets
301/301 [==============================] - 47s 156ms/step - loss: 0.5541 - accuracy: 0.8377 - val_loss: 0.5391 - val_accuracy: 0.8437
Epoch 52/100
301/301 [==============================] - 45s 149ms/step - loss: 0.5523 - accuracy: 0.8395 - val_loss: 0.5467 - val_accuracy: 0.8367
Epoch 53/100
301/301 [==============================] - 45s 149ms/step - loss: 0.5566 - accuracy: 0.8368 - val_loss: 0.5523 - val_accuracy: 0.8395
Epoch 54/100
301/301 [==============================] - 45s 149ms/step - loss: 0.5538 - accuracy: 0.8401 - val_loss: 0.5716 - val_accuracy: 0.8339
Epoch 55/100
301/301 [==============================] - ETA: 0s - loss: 0.5624 - accuracy: 0.8374INFO:tensorflow:Assets written to: drive/MyDrive/CNN4_2/assets
301/301 [==============================] - 47s 157ms/step - loss: 0.5624 - accuracy: 0.8374 - val_loss: 0.5239 - val_accuracy: 0.8456
Epoch 56/100
301/301 [==============================] - 45s 149ms/step - loss: 0.5409 - accuracy: 0.8444 - val_loss: 0.5795 - val_accuracy: 0.8319
Epoch 57/100
301/301 [==============================] - 45s 149ms/step - loss: 0.5396 - accuracy: 0.8432 - val_loss: 0.5578 - val_accuracy: 0.8402
Epoch 58/100
301/301 [==============================] - 45s 149ms/step - loss: 0.5352 - accuracy: 0.8446 - val_loss: 0.5388 - val_accuracy: 0.8398
Epoch 59/100
301/301 [==============================] - 45s 149ms/step - loss: 0.5323 - accuracy: 0.8424 - val_loss: 0.5543 - val_accuracy: 0.8383
Epoch 60/100
301/301 [==============================] - 45s 149ms/step - loss: 0.5403 - accuracy: 0.8423 - val_loss: 0.5696 - val_accuracy: 0.8365
Epoch 61/100
301/301 [==============================] - 45s 149ms/step - loss: 0.5324 - accuracy: 0.8479 - val_loss: 0.5768 - val_accuracy: 0.8356
Epoch 62/100
301/301 [==============================] - 45s 149ms/step - loss: 0.5434 - accuracy: 0.8431 - val_loss: 0.5504 - val_accuracy: 0.8386
Epoch 63/100
301/301 [==============================] - ETA: 0s - loss: 0.5406 - accuracy: 0.8442INFO:tensorflow:Assets written to: drive/MyDrive/CNN4_2/assets
301/301 [==============================] - 47s 156ms/step - loss: 0.5406 - accuracy: 0.8442 - val_loss: 0.5265 - val_accuracy: 0.8464
Epoch 64/100
301/301 [==============================] - 45s 149ms/step - loss: 0.5298 - accuracy: 0.8468 - val_loss: 0.5391 - val_accuracy: 0.8455
Epoch 65/100
301/301 [==============================] - 45s 149ms/step - loss: 0.5270 - accuracy: 0.8461 - val_loss: 0.5264 - val_accuracy: 0.8455
Epoch 66/100
301/301 [==============================] - 45s 149ms/step - loss: 0.5224 - accuracy: 0.8501 - val_loss: 0.5335 - val_accuracy: 0.8460
Epoch 67/100
301/301 [==============================] - 45s 149ms/step - loss: 0.5270 - accuracy: 0.8476 - val_loss: 0.5371 - val_accuracy: 0.8412
Epoch 68/100
301/301 [==============================] - 45s 149ms/step - loss: 0.5159 - accuracy: 0.8520 - val_loss: 0.5767 - val_accuracy: 0.8296
Epoch 69/100
301/301 [==============================] - 45s 149ms/step - loss: 0.5160 - accuracy: 0.8512 - val_loss: 0.5543 - val_accuracy: 0.8378
Epoch 70/100
301/301 [==============================] - ETA: 0s - loss: 0.5182 - accuracy: 0.8487INFO:tensorflow:Assets written to: drive/MyDrive/CNN4_2/assets
301/301 [==============================] - 47s 157ms/step - loss: 0.5182 - accuracy: 0.8487 - val_loss: 0.5192 - val_accuracy: 0.8475
Epoch 71/100
301/301 [==============================] - ETA: 0s - loss: 0.5274 - accuracy: 0.8493INFO:tensorflow:Assets written to: drive/MyDrive/CNN4_2/assets
301/301 [==============================] - 47s 157ms/step - loss: 0.5274 - accuracy: 0.8493 - val_loss: 0.5210 - val_accuracy: 0.8484
Epoch 72/100
301/301 [==============================] - 45s 149ms/step - loss: 0.5112 - accuracy: 0.8525 - val_loss: 0.5224 - val_accuracy: 0.8446
Epoch 73/100
301/301 [==============================] - ETA: 0s - loss: 0.5125 - accuracy: 0.8506INFO:tensorflow:Assets written to: drive/MyDrive/CNN4_2/assets
301/301 [==============================] - 47s 156ms/step - loss: 0.5125 - accuracy: 0.8506 - val_loss: 0.5239 - val_accuracy: 0.8487
Epoch 74/100
301/301 [==============================] - ETA: 0s - loss: 0.5073 - accuracy: 0.8536INFO:tensorflow:Assets written to: drive/MyDrive/CNN4_2/assets
301/301 [==============================] - 47s 157ms/step - loss: 0.5073 - accuracy: 0.8536 - val_loss: 0.5036 - val_accuracy: 0.8495
Epoch 75/100
301/301 [==============================] - ETA: 0s - loss: 0.4948 - accuracy: 0.8581INFO:tensorflow:Assets written to: drive/MyDrive/CNN4_2/assets
301/301 [==============================] - 47s 156ms/step - loss: 0.4948 - accuracy: 0.8581 - val_loss: 0.5114 - val_accuracy: 0.8530
Epoch 76/100
301/301 [==============================] - ETA: 0s - loss: 0.5104 - accuracy: 0.8551INFO:tensorflow:Assets written to: drive/MyDrive/CNN4_2/assets
301/301 [==============================] - 47s 156ms/step - loss: 0.5104 - accuracy: 0.8551 - val_loss: 0.5027 - val_accuracy: 0.8535
Epoch 77/100
301/301 [==============================] - 45s 148ms/step - loss: 0.4972 - accuracy: 0.8565 - val_loss: 0.5418 - val_accuracy: 0.8420
Epoch 78/100
301/301 [==============================] - 45s 149ms/step - loss: 0.4962 - accuracy: 0.8558 - val_loss: 0.5189 - val_accuracy: 0.8499
Epoch 79/100
301/301 [==============================] - 45s 149ms/step - loss: 0.5066 - accuracy: 0.8524 - val_loss: 0.5183 - val_accuracy: 0.8481
Epoch 80/100
301/301 [==============================] - ETA: 0s - loss: 0.5054 - accuracy: 0.8549INFO:tensorflow:Assets written to: drive/MyDrive/CNN4_2/assets
301/301 [==============================] - 47s 156ms/step - loss: 0.5054 - accuracy: 0.8549 - val_loss: 0.5024 - val_accuracy: 0.8549
Epoch 81/100
301/301 [==============================] - 45s 149ms/step - loss: 0.4966 - accuracy: 0.8566 - val_loss: 0.5103 - val_accuracy: 0.8508
Epoch 82/100
301/301 [==============================] - ETA: 0s - loss: 0.4968 - accuracy: 0.8580INFO:tensorflow:Assets written to: drive/MyDrive/CNN4_2/assets
301/301 [==============================] - 47s 157ms/step - loss: 0.4968 - accuracy: 0.8580 - val_loss: 0.5043 - val_accuracy: 0.8562
Epoch 83/100
301/301 [==============================] - 45s 149ms/step - loss: 0.4897 - accuracy: 0.8584 - val_loss: 0.5100 - val_accuracy: 0.8531
Epoch 84/100
301/301 [==============================] - 45s 149ms/step - loss: 0.4962 - accuracy: 0.8606 - val_loss: 0.5156 - val_accuracy: 0.8524
Epoch 85/100
301/301 [==============================] - 45s 149ms/step - loss: 0.4905 - accuracy: 0.8568 - val_loss: 0.5495 - val_accuracy: 0.8380
Epoch 86/100
301/301 [==============================] - 45s 149ms/step - loss: 0.4934 - accuracy: 0.8586 - val_loss: 0.5096 - val_accuracy: 0.8527
Epoch 87/100
301/301 [==============================] - 45s 149ms/step - loss: 0.4787 - accuracy: 0.8603 - val_loss: 0.5164 - val_accuracy: 0.8519
Epoch 88/100
301/301 [==============================] - 45s 149ms/step - loss: 0.4921 - accuracy: 0.8595 - val_loss: 0.5280 - val_accuracy: 0.8476
Epoch 89/100
301/301 [==============================] - 45s 149ms/step - loss: 0.4809 - accuracy: 0.8600 - val_loss: 0.5088 - val_accuracy: 0.8495
Epoch 90/100
301/301 [==============================] - 45s 149ms/step - loss: 0.4787 - accuracy: 0.8621 - val_loss: 0.5297 - val_accuracy: 0.8512
Epoch 91/100
301/301 [==============================] - 45s 149ms/step - loss: 0.4925 - accuracy: 0.8618 - val_loss: 0.5155 - val_accuracy: 0.8559
Epoch 92/100
301/301 [==============================] - ETA: 0s - loss: 0.4852 - accuracy: 0.8623INFO:tensorflow:Assets written to: drive/MyDrive/CNN4_2/assets
301/301 [==============================] - 47s 156ms/step - loss: 0.4852 - accuracy: 0.8623 - val_loss: 0.4858 - val_accuracy: 0.8632
Epoch 93/100
301/301 [==============================] - 45s 149ms/step - loss: 0.4912 - accuracy: 0.8606 - val_loss: 0.5053 - val_accuracy: 0.8549
Epoch 94/100
301/301 [==============================] - ETA: 0s - loss: 0.4786 - accuracy: 0.8645INFO:tensorflow:Assets written to: drive/MyDrive/CNN4_2/assets
301/301 [==============================] - 47s 157ms/step - loss: 0.4786 - accuracy: 0.8645 - val_loss: 0.4935 - val_accuracy: 0.8633
Epoch 95/100
301/301 [==============================] - 45s 149ms/step - loss: 0.4799 - accuracy: 0.8642 - val_loss: 0.5089 - val_accuracy: 0.8583
Epoch 96/100
301/301 [==============================] - 45s 149ms/step - loss: 0.4746 - accuracy: 0.8632 - val_loss: 0.5092 - val_accuracy: 0.8565
Epoch 97/100

In [34]:
## weighted all 1's                            Accuracy: 79   Val Accuracy: 79  after 29 epochs
## No weights                                  Accuracy: 79   Val Accuracy: 78  after 37 epochs
## No weights batch size 80                    Accuracy: 85   Val Accuracy: 81  after 30 epochs
## No weights batch size 90                    Accuracy: 88   Val Accuracy: 83.9  after 46 epochs?
## NW, BS 90, last conv2d 256                  Accuracy: 84   Val Accuracy: 83  after 26 epochs
## NW, bs 90, last conv2d 256, dense 400       Accuracy: 88   Val Accuracy: 85.29 after 53 epochs
## NW, bs 90, ', dense 300, 512 pool(4x4)      Accuracy: 86.9 Val Accuracy: 85.75 after 48 epochs

In [35]:
UnWeighted_Model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 conv2d (Conv2D)             (None, 150, 200, 32)      320

 max_pooling2d (MaxPooling2D  (None, 75, 100, 32)      0
 )

 conv2d_1 (Conv2D)           (None, 75, 100, 64)       18496

 max_pooling2d_1 (MaxPooling  (None, 38, 50, 64)       0
 2D)

 dropout (Dropout)           (None, 38, 50, 64)        0

 conv2d_2 (Conv2D)           (None, 38, 50, 128)       73856

 max_pooling2d_2 (MaxPooling  (None, 19, 25, 128)      0
 2D)

 dropout_1 (Dropout)         (None, 19, 25, 128)       0

 conv2d_3 (Conv2D)           (None, 19, 25, 256)       295168

 max_pooling2d_3 (MaxPooling  (None, 7, 9, 256)        0
 2D)

 dropout_2 (Dropout)         (None, 7, 9, 256)         0

 conv2d_4 (Conv2D)           (None, 7, 9, 512)         1180160

 max_pooling2d_4 (MaxPooling  (None, 2, 2, 512)        0
 2D)

 dropout_3 (Dropout)         (None, 2, 2, 512)         0

 conv2d_5 (Conv2D)           (None, 2, 2, 256)         1179904

 max_pooling2d_5 (MaxPooling  (None, 1, 1, 256)        0
 2D)

 dropout_4 (Dropout)         (None, 1, 1, 256)         0

 flatten (Flatten)           (None, 256)               0

 dense (Dense)               (None, 300)               77100

 dense_1 (Dense)             (None, 28)                8428

=================================================================
Total params: 2,833,432
Trainable params: 2,833,432
Non-trainable params: 0
_________________________________________________________________